#checkbox {
  display: none;
}

#checkbox:checked + .header__switch-ball{
  transform: translateX(-23px);
}

.top-pattern {
  position: absolute;
  top: 0;
  width: 100%;
  height: 14.75rem;
  border-radius: 0 0 20px 20px;
  background: var(--top-bg);
  z-index: -1;
}

.line {
  width: 100%;
  height: 2px;
  margin: 1.25rem auto;
  background: var(--toggle-bg);
}

.subtitle-text {
  font-size: .875rem;
  font-weight: 700;
  color: var(--text-1);
}

.social-icon {
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

.follower-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.625rem;
  border-radius: 3px;
  background: var(--card-bg);
  cursor: pointer;

  &:hover {
    background: var(--card-hover);
  }

  &--fb {
    border-top: 4px solid var(--facebook);
  }

  &--twitter {
    border-top: 4px solid var(--twitter);
  }

  &--insta {
    border-style: solid;
    border-width: 4px 0 0 0;
    border-image: var(--instagram) 10;
  }

  &--yt {
    border-top: 4px solid var(--youtube);
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__total {
    margin: 1rem auto 1.25rem auto;
    text-align: center;
  }

  &__count {
    font-size: 3.25rem;
    font-weight: 700;
    color: var(--text-2);
  }

  &__desc {
    font-size: .75rem;
    letter-spacing: .25rem;
    color: var(--text-1);
  }
}

.overview-card {
  width: 100%;
  padding: 1.375rem 1.625rem 1.375rem 1.375rem;
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: var(--card-hover);
  }

  &__info {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 1.625rem;

    .social-icon {
      margin-right: 0;
    }
  }

  &__count {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
  }

  &__total {
    font-size: 1.625rem;
    font-weight: 700;
    color: var(--text-2);
  }
}

.trend {
  &--up {
    display: flex;
    align-items: center;
    color: var(--lime-green);
    font-size: .875rem;
    font-weight: 700;
  }

  &--down {
    display: flex;
    align-items: center;
    color: var(--bright-red);
    font-size: .875rem;
    font-weight: 700;
  }

  &__icon {
    margin-right: 3px;
  }
}

@media screen and (min-width: 1023px) {
  .top-pattern {
    height: 15.25rem;
  }

  .line {
    display: none;
  }
}