body {
  background: var(--bg);
}

.wrapper {
  width: 86%;
  margin: 0 auto;
  max-width: 1110px;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 2.2rem auto 2rem auto;

  &__title {
    font-size: 1.5rem;
    margin-bottom: .4rem;
    color: var(--text-2);
  }

  &__switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__switch-bg {
    display: block;
    position: relative;
    width: 47px;
    height: 24px;
    background: var(--toggle-bg);
    border-radius: 100px;
    padding: 2px;
    cursor: pointer;

    &:hover {
      background: var(--toggle-hover);
    }
  }

  &__switch-ball {
    position: absolute;
    right: 2px;
    width: 20px;
    height: 20px;
    background: var(--bg);
    border-radius: 50%;
    transition: .1s ease-in-out;
  }
}


.social {
  margin-bottom: 45px;

  &__followers {
    display: grid;
    grid-row-gap: 1.375rem;
    grid-column-gap: 1.625rem;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-template-rows: auto;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-1);
    margin: 2.8rem auto 1.625rem auto;
  }

  &__overview {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 1.625rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 767px) {
  .header {
    margin: 2.375rem auto 2.2rem auto;
  
    &__title {
      font-size: 1.875rem;
      margin-bottom: .4rem;
    }
  }

  .social {
    margin-bottom: 2.8rem;

    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 2.875rem auto 1.625rem auto;
    }
    &__overview {
      grid-row-gap: 1.375rem;
    }
  }
}

@media screen and (min-width: 1023px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2.2rem auto 2.75rem auto;

    &__theme {
      margin-right: 1rem;
    }
  }

  .social {
    margin-bottom: 4rem;
  }
}